body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .relative {
    position: relative;
  }
  
  .status {
    margin-bottom: 10px;
  }

  .board-row {
    position: relative;
  }

  .inputCommand {
    margin: 10px 0;
    color: #000;
    font-size: 14px;
    padding: 0 5px;
  }

  .inputCommand:focus {
    outline: none;
  }

  .rotateRight {
    transform: rotateZ(270deg);
  }

  .rotateLeft {
    transform: rotateZ(-270deg);
  }

  .rotateUp {
    transform: rotateZ(-180deg);
  }

  .rotateUp {
    transform: rotateZ(180deg);
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 80px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 80px;
  }

  .robot {
    position: absolute;
    background: url(/static/media/toyrobotminion.bf4a042d.svg) no-repeat center center;
    height: 75px;
    padding: 0;
    width: 85px;
    vertical-align: middle;
    margin: 5px auto;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  